*{
    margin: 0;
    padding: 0;
}
.cont{
    
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    
}
#btn{
    margin-top: 30px;
}
.date_of_birth{
    margin-top: 30px;
    text-align: center;
    
}
form{
    margin-top: 15px;
}

